@media(max-width:900px) and (min-width: 700px)
{
    html{
        font-size: 12px;
    }
    button{
        width: 10rem;
    }
    svg
    {
    top: -20rem;
    right: -48rem;
    }
    button.vezi
    {
        margin: 2rem 0 2rem 0;
        text-align:center;
        height: 3rem;
        width: 10rem;
        border-radius: 5rem;
        color: rgb(25, 3, 29);
        background: rgb(255, 253, 197);
        border: none;
    }
        button.mai_multe
    {
        border-radius: 50%;
        background: rgb(255, 253, 197);
        border: none;
        width: 3rem;
        height: 3rem;
    }
        
}