.circle-clip
{
    border-radius: 50%;
    --b:4.5px;
    width:15rem;
    height:15rem;
    position:absolute;
    z-index:2;
    
}

.circle-clip::before
{
content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  
}
#one.circle-clip
{
    top: -1rem;
    right: -5rem;
    background:linear-gradient(120deg, #490139, #f515c4);
    box-shadow:  20px 20px 60px #490139, 
                -20px -20px 60px #f515c4;
}

#one.circle-clip::before
{
    background: var(--c,linear-gradient(to right, #490139, #f515c4));
  -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - var(--b) - 1px),#fff calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,transparent calc(100% - var(--b) - 1px),#fff calc(100% - var(--b)));
  border-radius:50%;
}

#two.circle-clip
{
    bottom: 0;
    left: 0;
    background:linear-gradient(145deg, #00fff2,#33ff00 );
    box-shadow: 10px 10px 30px #33ff00, 
                -10px -10px 30px #1fddff;
}
#two.circle-clip::before
{
    
    background: var(--c,linear-gradient(to right, #00fff2, #33ff00));
    -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - var(--b) - 1px),#fff calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,transparent calc(100% - var(--b) - 1px),#fff calc(100% - var(--b)));
    border-radius:50%;   
}

#three.circle-clip
{
  z-index: 3;
  bottom: -10rem;
  right: 0;
  background:linear-gradient(90deg,#ff5100, #fffb05);
  box-shadow:  10px 10px 30px #fffb05, 
              -10px -10px 30px #ff5100;
}

#three.circle-clip::before
{
  background: var(--c,linear-gradient(to right, #ff5f20, #ffee00));
    -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - var(--b) - 1px),#fff calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,transparent calc(100% - var(--b) - 1px),#fff calc(100% - var(--b)));
    border-radius:50%;   
}
