*
{
    margin: 0;
    padding: 0;
    --color : rgb(15, 2, 12);
    --color-h1 : rgb(245, 255, 187);
    --color-h2 : rgb(245, 206, 255);
}
html
{
    overflow-x: hidden;
    font-size: 15px;
}
body{
    background-color: var(--color);
}
.usless-section
{
    position: relative;
    z-index: 10;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.usless-section h1
{
    color: var(--color-h1);
}
.usless-section h2
{
    color: var(--color-h2);
}
